{% if dogs|length > 0 %}
  {% for dog_row in dogs | batch(4, "&nbsp;") %}
    <div class="row ms-1 w-100 justify-content-between">
      {% for dog in dog_row %}
        {% if dog != "&nbsp;" %}
          <div class="col-md-3 col-6 p-2 mb-4 dog_search_result bg-light text-center" style="cursor:pointer;" id="{{ dog.id }}">
            <a href="{{ url_for('dog_detail', dog_id=dog.id) }}">
              {% if dog.images %}
              <img src="{{ dog.images[0].get('image').get('url') }}" />
              {% else %}
              <img src="{{ url_for('static', filename='img/img_404.png') }}" />
              {% endif %}
              <div class="row">
                <div class="col pt-2">
                  <span class="fw-bold barbs_red">{{ dog.name }}</span>
                  <i class="bi bi-gender-{{ dog.sex|lower }} gender_{{ dog.sex|lower }} fw-bold" title="{{ dog.sex }}"></i>
                </div>
              </div>
              <div class="row">
                <div class="col fw-bold text-dark" style="font-size:smaller;">{{ dog.age }}</div>
              </div>
              <div class="row">
                <div class="col text-dark" style="font-size:smaller;">
                  {{ dog.primary_breed }}
                  {% if dog.secondary_breed %}
                    &amp; {{ dog.secondary_breed }}
                  {% endif %}

                  {% set bonded_ids = dog.get("grouped_pet_ids") %}
                  {% if bonded_ids %}
                     <br /><span class="badge bg-warning text-dark">Bonded Pair</span>
                  {% endif%}
                </div>
              </div>
            </a>
          </div>
        {% else %}
          <div class="col-md-3 col-6 p-2 mb-4">&nbsp;</div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% else %}
  <div class="w-100 text-center">
    <div class="mt-4">
      <h3>No Dogs Matched Your Search Criteria</h3>
    </div>
    <div>
      Please modify your search and try again.
    </div>
    <img src="{{ url_for('static', filename='img/sad_pup.png') }}" class="mw-50 mt-3" alt="Sad Pup" />
  </div>
{% endif %}
