<div class="ps-2 ms-0">
  {% if dogs|length > 0 %}
    <div class="row justify-content-between ps-0 pt-2">
      <div class="col-md-6 col-xs-12 mt-2">
        {% set min = ((current_page - 1) * per_page) + 1 %}
        {% set max = min + per_page - 1 %}
        Displaying
        {% if dogs|length != 1 %}
          <span class="barbs_red">{{ min }}</span> - <span class="barbs_red">{% if max > total_dogs %}{{ total_dogs }}{% else %}{{ max }}{% endif %}</span> of
        {% endif %}
        <span class="fw-bold barbs_red">{{ total_dogs }}</span> Available Dog{% if total_dogs != 1%}s{% endif %}
      </div>
      <div class="col-md-6 col-xs-12 pt-1">
        <div class="row justify-content-md-end">
          <div class="col-8 text-md-end align-baseline mt-2">{{ pagination_form.per_page.label(class="form-label") }}</div>
          <div class="col-3 text-md-end align-baseline">{{ pagination_form.per_page(class="form-select w-auto", id="per_page_select") }}</div>
        </div>
      </div>
    </div>
  {% else %}
    &nbsp;
  {% endif %}
</div>
