html {
  overflow-y:scroll;
}

body {
  font-family: raleway, sans-serif !important;
}

.dog_search_result {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  cursor: pointer;
}

.dog_search_result img {
  border-radius: 10px;
  width: 100%;
}

.dog_search_result a:hover{
  text-decoration: none;
}
