{% if dogs|length > 0 %}

    <div class="row">
      {% for dog in dogs %}

        <div class="col-5 col-md-4 col-lg-2 py-2 mx-2 mb-4 dog_search_result bg-light text-center" style="cursor:pointer;" id="{{ dog.id }}">
          <a href="{{ url_for('main.dog_detail', dog_id=dog.id) }}">
            <img src="{{ dog.images[0].get('image').get('url') }}" class="img-fluid" />

            <div class="row">
              <div class="col pt-2">
                <span class="fw-bold barbs_red">{{ dog.name }}</span>
                <i class="bi bi-gender-{{ dog.sex|lower }} gender_{{ dog.sex|lower }} fw-bold" title="{{ dog.sex }}"></i>
              </div>
            </div>
            <div class="row">
              <div class="col fw-bold text-dark" style="font-size:smaller;">{{ dog.age }}</div>
            </div>
            <div class="row">
              <div class="col text-dark" style="font-size:smaller;">
                {{ dog.primary_breed }}
                {% if dog.secondary_breed %}
                  &amp; {{ dog.secondary_breed }}
                {% endif %}
              </div>
            </div>

          </a>
        </div>

      {% endfor %}
    </div>

{% else %}
  <div class="w-100 text-center">
    <div class="mt-4">
      <h3>No Dogs Matched Your Search Criteria</h3>
    </div>
    <div>
      Please modify your search and try again.
    </div>
    <img src="{{ url_for('static', filename='img/sad_pup.png') }}" class="mw-50 mt-3" alt="Sad Pup" />
  </div>
{% endif %}
