<form id="search_form">
  <input type="hidden" name="per_page" id="per_page" value="{{ per_page }}" />
  <fieldset class="border p-2 bg-light mb-3">
    <div class="form-group">
      {{ search_form.sex.label(class="form-label") }}
      {{ search_form.sex(class="form-select") }}
    </div>
    <div class="form-group">
      {{ search_form.age.label(class="form-label") }}
      {{ search_form.age(class="form-select") }}
    </div>
    <div class="form-group">
      {{ search_form.breed.label(class="form-label") }}
      {{ search_form.breed(class="form-select") }}
    </div>
    <div class="form-group">
      {{ search_form.size.label(class="form-label") }}
      {{ search_form.size(class="form-select") }}
    </div>
    <div class="form-group">
      {{ search_form.shedding.label(class="form-label") }}
      {{ search_form.shedding(class="form-select") }}
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary w-100">Search</button>
</form>
