{% extends "base.html" %}

{% block content %}
  <div class="container mt-2 mb-4">
    <div class="row">
      <div class="col-sm">
        {% set img_url = dog.images[0].get("image").get("url") %}
        <img src="{{ img_url }}" class="rounded img-fluid mb-4" alt="{{ dog.name }}" title="{{ dog.name }}" />
      </div>

      <div class="col-sm ms-2 ps-0 pe-2">
        <div class="row ps-0">
          <h1>
            <span class="font-weight-bold barbs_red">{{ dog.name }}</span>
          </h1>
        </div>

        <div class="mb-3">
          <a href="mailto:barbsdogrescue@gmail.com?subject=Inquiry about {{ dog.name }}" class="cglink">Inquire about {{ dog.name }}</a>
        </div>

        <div class="p-2 ms-0 border border-dark rounded">
          <div>
            <span class="fw-bold pe-2">Sex:</span> {{ dog.sex }}
          </div>
          <div>
            <span class="fw-bold pe-2">Size:</span> {{ dog.size }}
          </div>
          <div>
            <span class="fw-bold pe-2">Weight:</span> {{ dog.weight }}
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="p-2 ms-0 border border-dark rounded">
          <div>
            <span class="fw-bold pe-2">Age:</span> {{ dog.age }} ({{ dog.numerical_age }})
          </div>
          <div>
            <span class="fw-bold pe-2">Date of Birth:</span> {{ dog.date_of_birth }}
          </div>
          <div>
            <span class="fw-bold pe-2">Date Acquired:</span> {{ dog.date_aquired }}
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="p-2 ms-0 border border-dark rounded">
          <div>
            <span class="fw-bold pe-2">Breed(s):</span> {{ dog.all_breeds | replace(", ,", "") }}
          </div>
          <div>
            <span class="fw-bold pe-2">Shedding:</span> {{ dog.shedding }}
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="p-2 ms-0 border border-dark rounded">
          <div>
            <span class="fw-bold pe-2">Shots Up to Date:</span> {{ dog.shots_up_to_date }}
          </div>
          <div>
            <span class="fw-bold pe-2">Spayed/Neutered:</span> {{ dog.is_spayed }}
          </div>
          <div>
            <span class="fw-bold pe-2">Hypoallergenic:</span> {{ dog.is_hypoallergenic }}
          </div>
          <div>
            <span class="fw-bold pe-2">Housebroken:</span> {{ dog.is_housebroken }}
          </div>
          <div>
            <span class="fw-bold pe-2">Has Special Needs:</span> {{ dog.has_special_needs }}
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="p-2 ms-0 border border-dark rounded">
          <div>
            <span class="fw-bold pe-2">Temperament:</span> {{ dog.temperament }}
          </div>
          <div>
            <span class="fw-bold pe-2">Description:</span> {{ dog.description|striptags }}
          </div>
        </div>

        <div class="row">&nbsp;</div>
        <div>
          <a href="mailto:barbsdogrescue@gmail.com?subject=Inquiry about {{ dog.name }}" class="cglink">Inquire about {{ dog.name }}</a>
        </div>

        <div class="row align-text-bottom">
          <div class="col mt-4 ps-2">
            <button class="btn btn-primary" onclick="goBack()">
              <i class="fa-solid fa-backward pr-2"></i>
              Back to Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function goBack() {
      if (document.referrer) {
        window.history.back();
      } else {
        location.href = "https://search.barbsdogrescue.org";
      }
    }
  </script>
{% endblock %}
