{% extends "base.html" %}

{% set main_class = "container" %}
{% if is_embedded %}
  {% set main_class = "container_fluid" %}
{% endif %}

{% block content %}

  <div class="{{ main_class }}" style="margin-top:22px;">
    <div class="container">
      <div class="row">
        <div class="col-3">
          &nbsp;
        </div>
        <div class="col pl-2 pt-2">
          {% set min = ((current_page - 1) * request.args.get("per_page")|int) + 1 %}
          {% set max = min + request.args.get("per_page")|int - 1 %}
          Displaying {{ min }} - {% if max > available_dogs_total %}{{ available_dogs_total }}{% else %}{{ max }}{% endif %} of {{ available_dogs_total }} Records
        </div>
        <div class="col pr-0 pb-2 text-right">
          <div class="container">
            <div class="row justify-content-end pt-1">
              <div class="col text-right align-baseline pt-1">
                {{ pagination_form.per_page.label(class="form-label") }}
              </div>
              <div class="col-2 text-right p-0 align-baseline">
                {{ pagination_form.per_page(class="form-control", id="per_page_select") }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3 border-right">
        <form id="search_form">
          <input type="hidden" name="per_page" id="per_page" value="{{ request.args.get('per_page') }}"
          <fieldset class="border p-2 bg-light mb-3">
            <div class="form-group">
              {{ search_form.sex.label(class="form-label") }}
              {{ search_form.sex(class="form-control") }}
            </div>
            <div class="form-group">
              {{ search_form.age.label(class="form-label") }}
              {{ search_form.age(class="form-control") }}
            </div>
            <div class="form-group">
              {{ search_form.breed.label(class="form-label") }}
              {{ search_form.breed(class="form-control") }}
            </div>
            <div class="form-group">
              {{ search_form.size.label(class="form-label") }}
              {{ search_form.size(class="form-control") }}
            </div>
            <div class="form-group">
              {{ search_form.shedding.label(class="form-label") }}
              {{ search_form.shedding(class="form-control") }}
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary w-100" name="foo" id="foo">Search</button>
      </form>
      </div>

      <div class="col-9">
        {% for row_of_dogs in dogs|batch(4, "&nbsp;") %}
          <div class="row mb-2">
            {% for dog in row_of_dogs %}
              {% if dog != "&nbsp;" %}
              <a href="{{ url_for('main.dog_detail', dog_id=dog.id) }}">
                <div class="col-sm mx-2 mt-0 mb-2 pt-2 pb-2 dog_search_result" style="cursor:pointer;" id="{{ dog.id }}">
                    <div style="width:100%; text-align:center;">
                      <img src="{{ dog.images[0].get('image').get('url') }}" />
                      <div class="container">
                        <div class="row">
                          <div class="col pt-2">
                            <span class="font-weight-bold" style="color:#9a0e24;">{{ dog.name }}</span>
                            {% if dog.sex == "Male" %}
                              <i class="fa-solid fa-mars" style="color:#01a6ea;" title="Male"></i>
                            {% elif dog.sex == "Female" %}
                              <i class="fa-solid fa-venus" style="color:#ffb1cb;" title="Female"></i>
                            {% endif %}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col font-weight-bold text-dark" style="font-size:smaller;">{{ dog.age }}</div>
                        </div>
                        <div class="row">
                          <div class="col text-dark" style="font-size:smaller;">
                            {{ dog.primary_breed }}
                            {% if dog.secondary_breed %}
                              &amp; {{ dog.secondary_breed }}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% else %}
                <div class="col-sm m-2 pt-2 pb-2">
                  &nbsp;
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}

        <div id="pagination_navigation" class="py-4">
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item{% if current_page == 1 %} disabled{% endif %}">
                <a class="page-link" href="#" tabindex="-1"><i class="fa-solid fa-angle-left" title="Previous Page"></i></a>
              </li>
              {% for page in range(1, number_of_pages + 1) %}
                {% if current_page == page %}
                  <li class="page-item active">
                    <span class="page-link">
                      {{ page }}
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                {% else %}
                  {% set current_href = url_for("main.index") + "?current_page=" + page|string + "&" + qs %}
                  <li class="page-item"><a class="page-link" href="{{ current_href }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}
              <li class="page-item{% if current_page == number_of_pages %} disabled{% endif %}">
                <a class="page-link" href="#"><i class="fa-solid fa-angle-right" title="Next Page"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
